@import "tailwindcss";

html {
	color-scheme: light;
}

#root {
	display: grid;
	grid-template-columns: 0px 1fr 0px;
	gap: 0 1.875rem;

	/* @media screen and (width >= 48rem) {
		gap: 0 3.375rem;
	}

	@media screen and (width >= 90rem) {
		gap: 0 10.1875rem;
	} */
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
